<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hua.testhook">

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.hua.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestHook">
        <activity
            android:name=".binder.BinderActivity"
            android:exported="false" />
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".binder.GradeService"
            android:process=":server"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.server.gradeservice" />
            </intent-filter>
        </service>

        <service
            android:name=".aidl.AnimalManagerService"
            android:process=":animal"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.server.animalService" />
            </intent-filter>
        </service>
    </application>

</manifest>